<!DOCTYPE html>
<html>
    <head>
        <title>Comics|| Iconicreads</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style> .container{
                width:100%;
                height:54px;
                background-color: red;
            }
            ul{
                list-style:none;
                display:flex;
            }
          .contain{
             width:100%;
                height:54px;
                background-color: rgb(0, 0, 0);
                margin:-14px 0px;

          }
    .list li{
    font-size: 22px;
    margin: 14px 64px;
    }
    .list a{
        color:white;
        text-decoration:none;
    }
    ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
            #l-item{
             font-size: 37px;
    padding-top: 5px;
    font-style: italic;
    color: #0000bf;
    font-weight: bold;
}
            
           .form{
              margin-left: 500px;
                          }
            #int{
               width: 446px;
    margin: 15px 0px;
    height: 19px;
    border-radius: 8px;
            }
              .tin{
               border: 2px solid #cfcfcf;
    width: 228px;
    height: 345px;
    text-align: center;
    margin: 28px 3px;
    display: inline-table;
            }
            .container-2{
                margin-left: 19px;
            }
            .tin img{
            height: 242px;
    width: 195px;
    margin: 20px 9px;
            }
            .btz{
                margin: 2px -47px;
    width: 160px;
    font-size: 23px;
    border-radius: 10px;
    background: linear-gradient(45deg, #0065a1, transparent);
    font-family: cursive;
            }
            .btz a{
                text-decoration:none;}
                #ten{
                    margin: 28px 13px;
                }
                p{
                    margin: 43px 427px;
    font-size: 29px;
    font-style: italic;
    color: indianred;
    font-family: emoji;
                }
                                @media (max-width : 375px) and (min-height: 667px){
#int{
 margin-left: -320px;
    width: 275px;
}
.container-2 {
    margin-left: -123px;
    margin-top: -50px;
}
.container{
    width:100%;
}
.contain{
    width: 100%;
}
.tin img {
   height: 229px;
    width: 183px;
    margin: 20px 109px;
}
.tin {
  border: 2px solid #ffffff;
    width: 394px;
    height: 403px;
    text-align: center;
    margin: 28px 103px;
    display: inline-table;
}
b{
    font-size: 23px;
}
.list li {
    font-size: 19px;
    margin: 14px 18px;
}
#l-item {
    font-size: 27px;
    padding-top: 12px;
    font-style: italic;
    color: #0000bf;
    font-weight: bold;
    padding-left: -23px;
}
#int {
    margin-left: -472px;
    width: 140px;
}
                }
                </style>
        <body>
            <div class="container">
             <ul class="u-list">
                    <li id="l-item">Iconicreads</li>
                    <li>
                       <div class="form">
                        <input type="text" id="int" placeholder="Search...." onkeyup="findFun()">
                        </div>
                       
                        </div>
                        <div class="contain">
                            <ul class="list">
                                <li><a href="/Home">Home</a></li>
                                <li><a href="/About">About</a></li>
                                <li><a href="/Contact">Contact Us</a></li>
                            </ul>
                            </div>
        </div>
        <div class="container-3">
            <p> </p>
        </div>
            <div class="container-2">
          <div class="tin" id="sec1"><a href="/Maus"><img id="Hindu" src="https://m.media-amazon.com/images/I/51bX7G6BgXL._SY445_SX342_.jpg"></a><b>The Complete Maus<br>Art Spiegelman<br>Rs. 607</b></div>
            <div class="tin" id="sec2"><a href="/Palestine"><img id="hind" src="https://m.media-amazon.com/images/I/61bFfyOg2TL._SY445_SX342_.jpg"></a><b>Palestine<br>Joe Sacco<br>Rs. 798.20</b></div>
            <div class="tin" id="sec3"><a href="/SafeArea"><img src="https://m.media-amazon.com/images/I/61Kg8JGvSrL._SY445_SX342_.jpg"></a><b>Safe Area Grazde <b>Joe Sacco<br>Rs. 802</b></div>
            <div class="tin" id="sec4"><a href="/Footnotes"><img src="https://m.media-amazon.com/images/I/516kSU4C3BL._SY445_SX342_.jpg"></a><b> Foot Notes of Gaza<br>Joe Sacco<br>Rs. 3,719</b></div>
            <div class="tin" id="sec5"><a href="/Likeit"><img src="https://m.media-amazon.com/images/I/91EzjhvBWyS._SY425_.jpg"></a><b> As you like it<br>William Shakespearre<br>Rs 98.00</b></div>
            <div class="tin" id="sec6"><a href="/Defeatist"><img src="https://m.media-amazon.com/images/I/610ROOeJE+L._SY445_SX342_.jpg"></a><b>Notes from a Defeatist<br> Joe Sacco<br>Rs. 779.00</b></div>
            <div class="tin" id="sec7"><a href="/Fixer"><img src="https://m.media-amazon.com/images/I/51kWrEMPCpL._SY445_SX342_.jpg"></a><b>The Fixer<br>Joe Sacco<br>Rs 8,673.32</b></div>
            <div class="tin" id="sec8"> <a href="/BlackHole"><img src="https://m.media-amazon.com/images/I/51PmI8SAeXL._SY445_SX342_.jpg"></a><b>Black Hole<br>Charles Burns<br> Rs 1,815</b></div>
            <div class="tin" id="sec9"><a href="/Bone"><img src="https://m.media-amazon.com/images/W/MEDIAX_792452-T1/images/I/51Zhztg+yeL._SY445_SX342_.jpg"></a><b>Out from Bonevelli<br>Jeff Smith<br>Rs 939</b></div>
            <div class="tin" id="sec10"><a href="/Harrow-1"><img src="https://m.media-amazon.com/images/I/514I4gvib7L._SY445_SX342_.jpg"></a><b>Harrow county Volume-1<br>Cullen Bunn<br>Rs  1,464.00</b></div>
            <a href="/Harrow-2"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51-c-0x7iUL._SY445_SX342_.jpg"><b>Harrow County Volume-2<br>Cullen Bunn<br>₹1,199</h4></div></a>
          <a href="/Empty"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/41DRdfUSV5L._SY445_SX342_.jpg"><b>The Empty Man<br>Cullen Bunn<br>Kindly Unlimited 0.00</h4></div></a>
          <a href="/Parish"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51uzuYT5KvL._SY445_SX342_.jpg"><b>Bone Parish Vol.1<br>Cullen Bunn<br>Rs. 1,141</h4></div></a>
           <a href="/Land"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51a9K4CsWJL._SY445_SX342_.jpg"><b>Paying the Land<br>Joe Sacco<br>Rs. 824</h4></div></a>
           <a href="/Burma"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51zeojKzTsL._SY445_SX342_.jpg"> <b>Burma Chronicles<br>Guy Delisile<br>Rs. 646.00</h4></div></a>
           <a href="/Pyongyang"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/514r+SVjx5L._SY445_SX342_.jpg"><b>Pyongyang<br>Guy Delisle<br>Rs. 1,237</h4></div></a>
           <a href="/Shenzhen"> <div class="tin"><img src="https://m.media-amazon.com/images/I/518qxRcQa8L._SY445_SX342_.jpg" class="img-1"><b> Shenzhen<br>Guy Delisle<br>Rs. 950</h4></div></a>
           <a href="/Jerusalem"> <div class="tin"><img src="https://m.media-amazon.com/images/I/51TfuhvWveL._SY445_SX342_.jpg" class="img-1"><b>Jerusalem-Chronicles-Holy-Guy-Delisle<br>Guy Delisle<br>Rs. 757</h4></div></a>
           <a href="/MetaMaus"> <div class="tin"><img src="https://m.media-amazon.com/images/I/513VL-dYWzL._SY445_SX342_.jpg" class="img-1"><b>Meta Maus<br>Art Spiegelman<br>Rs. 2,611</h4></img></div></a>
           <a href="/Funhome"> <div class="tin"><img src="https://m.media-amazon.com/images/I/71sMATDF6DL._SY425_.jpg" class="img-1"><b>Fun Home<br>Allison Bechdel<br>Rs. 1,052.00</h4></div></a>
            <div class="tin" id="sec11"><a href="/Lockkey"><img src="https://m.media-amazon.com/images/I/81TewddjMwL._SY425_.jpg"></a>Locke and Key<b>Joe Hill<br>Rs. 1,088<br> </b></div>
            <div class="tin" id="sec12"><a href="/Woods"><img src="https://m.media-amazon.com/images/I/61vN8LI0tzL._SX342_SY445_.jpg"></a>Through the Woods<b>Emill Caroll<br>Rs. 1,374<br></b></div></div>
           
            </div>
        </body><script> 
           function findFun(){
    let find = document.getElementById('int').value.toUpperCase();
    let mycontainer = document.getElementsByClassName('container-2');
    let division  = document.getElementsByClassName('tin');

   for(var i=0; i < division.length; i++){
        let h4 = division[i].getElementsByTagName('b')[0];
        if(h4){
            let findvalue = h4.innerText || h4.innerHTML || h4.textContent;
            if(findvalue.toUpperCase().indexOf(find) > -1){
                division[i].style.display = ""
            }else{
                division[i].style.display = "none" 
            }
        }
    
   }
    
}     
          </script>
    </head>    
</html>