<html>
    <head>
        <title>Contact Us || Iconicreads</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .container{
                width:100%;
                height:54px;
                background-color: rgb(214, 6, 6);
            }
            ul{
                list-style:none;
                display:flex;
            }
          .contain{
             width:100%;
                height:54px;
                background-color: rgb(0, 0, 0);
                margin:-14px 0px;

          }
    .list li{
    font-size: 22px;
    margin: 14px 64px;
    }
    .list a{
        color:white;
        text-decoration:none;
    }
     #int{
            width: 370px;
    border-radius: 4px;
    margin-left: -40px;
         }
         .form{
           margin-left: 626px;
    margin-top: 12px;
         }
          #l-item{
             font-size: 37px;
    padding-top: 5px;
    font-style: italic;
    color: #0000bf;
    font-weight: bold;
}
 body{
                background: linear-gradient(45deg, #05051e, #0cd8ed);
            }
            .container-2{
              height: 706px;
    width: 500px;
    border: 2px solid black;
    margin: auto;
    margin-top: 42px;
   background: rgb(85 171 171);
            }
            .form-2{
                margin-top:164px;
            }
            .input{
              height: 51px;
    width: 396px;
    margin: 17px 48px;
    border-radius: 8px;
            }
            
            
            .button{
                margin: 19px 100px;
                height:49px;
                width:300px;
                border-radius:12px;
                border:none;
                background-color: #740bc3;
            }
            p{
                color: aliceblue;
    font-size: 28px;
    margin-top: 8px;
    font-family: auto;
            }
            b{
               margin: 8px 151px;
    font-size: 35px;
    color: white;
    font-family: sans-serif;
            }
           
           #para{
          font-size: 26px;
    color: red;
    margin-left: 112px;
    margin-top: -37px;
      }
      #message{
        height:143px;
      }
      @media (max-width: 375px) and (max-height: 667px){
        .contain li{
            margin-left: -3px;
        }
        .input{
          height: 39px;
    width: 245px}
    .container-2{
        height: 631px;
    width: 330px;
    }
    .button{
        height: 50px;
    width: 174px;
    margin-left: 81px;
    }
    p{
        color: aliceblue;
    font-size: 24px;
    margin-top: 10px;
    font-family: auto;
    }b {
    margin: 8px 96px;
    font-size: 26px;
    color: white;
    font-family: sans-serif;
}
body{
  background: rgb(211, 211, 211);}
      }
        </style>
        <body>
  <div class="container">
             <ul class="u-list">
                    <li id="l-item">Iconicreads</li>
                    <li>
                        <form class="form" action="/" method="post" class="form">
                       
                        </form>
                        </div>
                        <div class="contain">
                            <ul class="list">
                                <li><a href="/Home">Home</a></li>
                                <li><a href="/About">About</a></li>
                                <li><a href="/Contact">Contact </a></li>
                            </ul>
                            </div>
        </div>
         <div class="container-2">
                <div id="para"></div>
                <form class="form-2" action="https://formsubmit.co/ydhairya23@gmail.com" method="post" onsubmit="SendEmail() ; reset(); return false">
                <b>Contact Us</b>
                <input class="input" id="name" type="text" name="username" placeholder="Username"><br>              
                <input class="input" id="email" type="text" name="email" placeholder="Email"><br> 
                <input type="text"class="input" id="message" name="message" placeholder="Message"><br>
                <button class="button" type="submit" value="submit" ><p>Send Email</p></button>
                </form>
            </div>
           
            </script>
        </body>    
      


       </script>
    </head>
</html>