<!DOCTYPE html>
<html>
    <head>
        <title>Login Page || Iconicreads</title>
        <style>
           .container {
    border: 2px solid #fffcfc;
    height: 500px;
    width: 400px;
    margin: auto;
}
           h2{
            color:red;
            font-weight:700;
           }
           h3{
            color:red;
            font-weight:500;
           }
        </style>
        <body>
            <div class="container">
                <h1>Oops! An Error Occur</h1>
                <h2>Account Not Exist!</h2>
                <h3>Please Enter any valid Email or Password</h3>
                <button type="text" ><a href="/Login">Try Again</a></button>
            </div>
        </body>
    </head>
</html>