<!DOCTYPE html>
<html>
    <head>
        <title>Fiction || Iconicreads</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style> .container{
                width:100%;
                height:54px;
                background-color: red;
            }
            ul{
                list-style:none;
                display:flex;
            }
          .contain{
             width:100%;
                height:54px;
                background-color: rgb(0, 0, 0);
                margin:-14px 0px;

          }
    .list li{
    font-size: 22px;
    margin: 14px 64px;
    }
    .list a{
        color:white;
        text-decoration:none;
    }
    ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
            #l-item{
             font-size: 37px;
    padding-top: 5px;
    font-style: italic;
    color: #0000bf;
    font-weight: bold;
}
            
           .form{
              margin-left: 500px;
                          }
            #int{
               width: 446px;
    margin: 15px 0px;
    height: 19px;
    border-radius: 8px;
            }
              .tin{
               border: 2px solid #cfcfcf;
    width: 228px;
    height: 345px;
    text-align: center;
    margin: 28px 2px;
    display: inline-table;
            }
            .tin img{
            height: 242px;
    width: 195px;
    margin: 20px 9px;
            }
            .btz{
                margin: 2px -47px;
    width: 160px;
    font-size: 23px;
    border-radius: 10px;
    background: linear-gradient(45deg, #0065a1, transparent);
    font-family: cursive;
            }
            .btz a{
                text-decoration:none;}
                #ten{
                    margin: 28px 13px;
                }
                p{
                    margin: 43px 427px;
    font-size: 29px;
    font-style: italic;
    color: indianred;
    font-family: emoji;
                }
                .container-2{
                    margin-left:22px;
                }
                @media (max-width : 375px) and (min-height: 667px){
#int{
 margin-left: -320px;
    width: 275px;
}.container-2{
margin-left: -123px;
    margin-top: -55px;}
.container{
    width:100%;
}
.contain{
    width: 100%;
}
.tin img {
   height: 229px;
    width: 183px;
    margin: 20px 109px;
}
.tin {
  border: 2px solid #ffffff;
    width: 394px;
    height: 403px;
    text-align: center;
    margin: 28px 103px;
    display: inline-table;
}
b{
    font-size: 23px;
}
.list li {
    font-size: 19px;
    margin: 14px 18px;
}
#l-item {
    font-size: 27px;
    padding-top: 12px;
    font-style: italic;
    color: #0000bf;
    font-weight: bold;
    padding-left: -23px;
}
#int {
    margin-left: -472px;
    width: 140px;
}
                }
                </style>
        <body>
            <div class="container">
             <ul class="u-list">
                    <li id="l-item">Iconicreads</li>
                    <li>
                       <div class="form">
                        <input type="text" id="int" placeholder="Search...." onkeyup="findFun()">
                        </div>
                       
                        </div>
                        <div class="contain">
                            <ul class="list">
                                <li><a href="/Home">Home</a></li>
                                <li><a href="/About">About</a></li>
                                <li><a href="/Contact">Contact Us</a></li>
                            </ul>
                            </div>
        </div>
        <div class="container-3">
            <p></p>
        </div>
            <div class="container-2">
          <div class="tin" id="sec1"><a href="/Dune"><img id="Hindu" src="https://m.media-amazon.com/images/I/41+L9Q+rCLL._SY344_BO1,204,203,200_.jpg"></a><b>Dune<br>by Frank Herbert<br>Rs 374.00</b></div>
            <div class="tin" id="sec2"><a href="/Ninteen-Eighty-Four"><img id="hind" src="https://m.media-amazon.com/images/I/41nGXlJ2GSL._SY346_.jpg"></a><b>Ninteen-Eighty-Four<br>George Orwell<br>Rs 268.00</b></div>
            <div class="tin" id="sec3"><a href="/Greatgatsby"><img src="https://m.media-amazon.com/images/I/51ceqZss88S._SX198_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b> Greatgatsby<br>F. Scott Fitzgerald<br>Rs 109.00</b></div>
            <div class="tin" id="sec4"><a href="/Themartianwars"><img src="https://m.media-amazon.com/images/I/4164GkhDBXL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b> Martian<br>Andy Weir<br>Rs 1,198.00</b></div>
            <div class="tin" id="sec5"><a href="/Thelefthandofdarkness"><img src="https://m.media-amazon.com/images/I/41DzNPR3TVL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b> Left Hand of Darkness<br>Ursula Ke li Guin<br>Rs 433.00</b></div>
            <div class="tin" id="sec6"><a href="/Frankanstein"><img src="https://m.media-amazon.com/images/I/51Wtzp-kSkL._SX198_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b>Frankanstein<br>Mary Shelley<br>Rs 129.00</b></div>
            <div class="tin" id="sec7"><a href="/TheTimeMachine"><img src="https://m.media-amazon.com/images/I/51YP7fM361S._SX460_BO1,204,203,200_.jpg"></a><b>The Time Machine<br>HG.Wells<br>Rs 99.00</b></div>
            <div class="tin" id="sec8"> <a href="/DouglasAdams"><img src="https://m.media-amazon.com/images/I/61sX5V0MiyL._SY264_BO1,204,203,200_QL40_ML2_.jpg"></a><b>Per Anhalter durch die Galaxis<br>Douglas Adams<br>€18.98</b></div>
            <div class="tin" id="sec9"><a href="/Allthelightwecatsee"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/22/All_the_Light_We_Cannot_See_%28Doerr_novel%29.jpg/220px-All_the_Light_We_Cannot_See_%28Doerr_novel%29.jpg"></a><b>All the light we can't see<br>Anthony Doerr<br>Rs 1,284.00</b></div>
            <div class="tin" id="sec10"><a href="/Crossdown"><img src="https://m.media-amazon.com/images/I/41ZzBPR6isL._SY291_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b>Cross the line<br>James Patterson<br>Rs  1,187.82.00</b></div>
            <a href="/Alchemist"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/41e+TR4xPDL._SY344_BO1,204,203,200_.jpg"><b>The Alchemist<br>Poulo Coelho<br>₹235.00</h4></div></a>
          <a href="/Prince"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/41Su1GeNc8L._SX198_BO1,204,203,200_QL40_FMwebp_.jpg"><b>The Little Prince<br>ANTOINE DE SAINT-EXUPÉRY<br>₹699.00</h4></div></a>
          <a href="/ReligionHistory"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51xVrDHRYXL._SL500_.jpg"><b>A Little History Of Religion<br>Richard Holloway<br>Rs. 5,015.00</h4></div></a>
           <a href="/Hinduism"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51GEGMyixzL._SL500_.jpg"><b>Survey-Hinduism<br>Klaus K. Klostermaier<br>Rs. 4,134.00</h4></div></a>
           <a href="/Exorcism"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51z4JYdnbeL._SL500_.jpg"> <b>My Best Friend Exorcism<br>Grady Hendrix<br>Rs. 798.99</h4></div></a>
           <a href="/DarkForest"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51uMT8RVWNL._SL500_.jpg"><b>The Dark Forest<br>Cixin Liu, Joel Martinsen<br>Rs. 409.00</h4></div></a>
           <a href="/Blind"> <div class="tin"><img src="https://m.media-amazon.com/images/I/41jOTwbtijL._SL500_.jpg" class="img-1"><b>Bilnd Sight <br>Peter Watts<br>Rs. 2,381.00</h4></div></a>
           <a href="/Station"> <div class="tin"><img src="https://m.media-amazon.com/images/I/5160VyClkEL._SL500_.jpg" class="img-1"><b>Station Eleven<br>Emily St. John Mandel<br>₹1,257.00</h4></div></a>
           <a href="/Institute"> <div class="tin"><img src="https://m.media-amazon.com/images/I/51oovpT1fkL._SL500_.jpg" class="img-1"><b>The Institute<br>Stephen King<br>Hardcover:- Rs. 3,012.00</h4></img></div></a>
           <a href="/Hunt"> <div class="tin"><img src="https://m.media-amazon.com/images/I/51jAV8c14yL._SL500_.jpg" class="img-1"><b>Hunt For The Skin Walker<br> Colm A. Kelleher <br>Rs. 1,259.00</h4></div></a>
            
            <div class="tin" id="sec12"><a href="/Bravenewworld"><img src="https://m.media-amazon.com/images/I/41cDU2B8IyL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b>Brave New World<br>Aldous Huxly<br>Rs 328.00</b></div></div>
           
            </div>
        </body><script> 
           function findFun(){
    let find = document.getElementById('int').value.toUpperCase();
    let mycontainer = document.getElementsByClassName('container-2');
    let division  = document.getElementsByClassName('tin');

   for(var i=0; i < division.length; i++){
        let h4 = division[i].getElementsByTagName('b')[0];
        if(h4){
            let findvalue = h4.innerText || h4.innerHTML || h4.textContent;
            if(findvalue.toUpperCase().indexOf(find) > -1){
                division[i].style.display = ""
            }else{
                division[i].style.display = "none" 
            }
        }
    
   }
    
}     
          </script>
    </head>    
</html>