<!DOCTYPE html>
<html>
    <head>
        <title>Frankanstein</title>
        
        <style>
            .btz{
                margin: 2px -47px;
    width: 160px;
    font-size: 23px;
    border-radius: 10px;
    background: linear-gradient(45deg, #0065a1, transparent);
    font-family: cursive;
            }
            .btz a{
                text-decoration:none;
            }
            .container{
             height: 62px;
    background-color: #ff2d2d;
    width: 1246px;
            }
            #listitem{
               font-size: 40px;
    font-family: ui-monospace;
    font-style: italic;
    color: blue;
    font-weight: 700;
    padding-top: 11px;
    margin: 2px -1px;
            }
            ul{
                list-style:none;
                display:flex;
            }
            li{margin:2px 56px;
            padding-top:10px;}
            #btw{
               height: 26px;
    float: right;
    margin: 3px -64px;
    padding: 4px 8px;
    margin-top: 0px;
    background: lavender;
            }
            #input{
              height: 20px;
    width: 444px;
    border-radius: 45px;
            }
            form{
             margin: 2px 219px;margin-top: 10px;
            }
         .header{
               border: 2px solid rgb(158, 216, 216);
    background-color: #141414;
    height: 56px;
            }
            ul{
                display:flex;
                flex-direction: row;
                list-style:none;
            }
            li{
                font-size:23px;
                padding:0px 45px;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-style:normal;
            }
            .header a{
               text-decoration: none;
   color: #ffffff;
            }
            #image{
               height: 352px;
    margin: 85px 107px;
    border: 27px solid #d0d5db;
            }
            .group{
                display:flex;
            }
            h1{
                margin:78px 2px;
                font-size:48px;
            }
            .para{
               color: #605858;
    font-size: 19px;
    margin: 23px 0px;
    margin-top: -49px;
            }
            #div-1{
                color:blue;
                font-size:34px;
            }
            #div-2 a{
              text-decoration:none;
              color:white;
            }
            .btn{
            margin: 64px -3px;
    height: 56px;
    width: 140px;
    background: rgb(47, 0, 255);
    font-size: 17px;
    float: left;
    border-radius: 12px;
            }
            .btm{
                 margin: -119px 154px;
    height: 56px;
    width: 140px;
    background: rgb(149, 224, 206);
    font-size: 20px;
    float: right;
    border-radius: 12px;
            }
            .btm a{
                text-decoration: none;
    color: #6e5555;
    font-size: 16px;
    font-weight: 700;
            }
            .div{
                display:flex;
                flex-direction:column;
            }.form{
          float: left;
    margin: -500px 235px;
            }
            #myform{
                margin:2px 45px;
            }
            #inp{
               margin: 2px 428px;
    width: 344px;
    height:23px;
    background: none;
            }
            #nameinp{
              margin: 2px 428px;
    width: 344px;height:23px;
    background: none;
            }
            b{
                margin:2px 428px;
                font-size:23px;
            }
            #img{
                margin:0px 1px;

            }
            .stack-1{
         margin: auto;
    border: 12px solid cyan;
    width: 1100px;
    margin-top: 95px;background: linear-gradient(45deg, #202846, #ff8f8f);

            }
            textarea{
                 margin: 2px 428px;
    width: 344px;height:150px;
    background: none;
    border:2px solid black;
            }
            #bto{
               margin: 2px 428px;
    background: green;
    float: left;
    height: 29px;
    border-radius: 5px;
            }
            i{
                color: white;
    font-style: normal;
    font-size: 13px;
            }
            #heading{margin: -58px 56px;}

            h2{
                font-size: 41px;
    margin: 2px 51px;
            }
            .tin{
                border: 2px solid blue;
    width: 257px;
    height: 386px;
    text-align: center;
    margin: 10px 45px;
    display: inline-table;
               
            }
            .tin img{
              height: 286px;
    width: 200px;
    margin: 20px 0px;
            }
            footer{
               border: 2px solid black;
    background-color: black;
    text-align: center;
    color: white;
    height: 27px;
    padding: 10px 0px;
    font-size: 18px;
            }
       
        </style>
        <body>
            <div class="container">
                <ul>
               <li id="listitem"> Iconicreads </li>
                <li><form action="/fictionsearch" method="post">
                <input type="text" name="userfictionsearch" id="input" placeholder="Find more interesting Fiction Books...">
                <button id="btw" type="submit">Search</button></li>
                </ul>
                </form>
            </div>
            <div class="header">
                <ul>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/About">About us</a></li>
                    <li><a href="/Contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="group">
                <div class="section-1">
                    <img id="image" src="https://m.media-amazon.com/images/I/51Wtzp-kSkL._SX198_BO1,204,203,200_QL40_FMwebp_.jpg">
                </div><div class="section-2">
                   <h1> <u>Frankanstein</u><br> </h1>
                <div class="para"> Book by Mary Shelley ASIN ‏ : ‎ B084WPW3D3
Publisher ‏ : ‎ Independently published (February 17, 2020)
Language ‏ : ‎ English
Paperback ‏ : ‎ 177 pages
ISBN-13 ‏ : ‎ 979-8614455781
                </div>
           <div id="div-1">Rs 129.00</div>
          <div class="div">
           <div id="div-2"><button type="text" class="btn"><a href="https://www.amazon.in/Frankenstein-Mary-Shelley/dp/9380816251?source=ps-sl-shoppingads-lpcontext&ref_=fplfs&psc=1&smid=A1WYWER0W24N8S">Buy on Amazon</a></button></div>
                <button type="text" class="btm"><a href="https://rauterberg.employee.id.tue.nl/lecturenotes/DDM110%20CAS/Shelley-1818%20Frankenstein.pdf">Read a Sample</a></button></div>
            </div>
            </div>
            <h1 id="heading">Product Review</h1>
            <div class="stack-1">
            <img id="img" src="https://www.shutterstock.com/image-illustration/3d-cartoon-human-character-working-600w-368540624.jpg">
             <div class="form">
                <form action="/frank" id="myform" method="post">
                <b>Email ID</b><br><input id="inp" type="text" name="userEmailId">
                <b>Full Name</b><br><input id="nameinp"type="text" name="userFullname">
                <b>Write Review</b><textarea name="usertextmessage"></textarea>
                <button id="bto" type="submit"><i>Post Review</i></button>
                </form></div></div>
                <h2><u>Related products
                </u></h2>
                <div class="tin"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgPSbeuRBMWbAYKMAXFy_vpKUZaVjFy7t_Yc2dd5shJYLe_FHKCTE2iA&s=0"><button type="text" class="btz"><a href="https://www.amazon.com/Memoirs-Elizabeth-Frankenstein-Theodore-Roszak/dp/0553576372">Buy</a></button></div>
                <div class="tin"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0ZD1WNT19lIGiTIbj6-Ek3XEgopJjSaG_eqMtzVUO_e13aVsFSGA-oECy&s=0"><button type="text" class="btz"><a href="https://www.amazon.com/Briefers-Frankenstein-Library-Horror-Comics/dp/1600107222">Buy</a></button></div>
                <div class="tin"><img src="https://books.google.com/books/content?id=NDS1zonfKzcC&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE722gOvkkHOFV5ik-lFtsB4UXmXaNNQc0HmPat_iHwS2cnByWE-_SWPtfqBME1t4lZjjKTjzwJLVXGw-XeF17AbRlJTcvOT8xjLZD4ehQ5-UB6zAQGIxzEgfxHdBEg0s3-PKyYai"><button type="text" class="btz"><a href="https://www.amazon.com/Frankenstein-Underground-Mike-Mignola/dp/1616557826">Buy</a></button></div>
                <div class="tin"><img src="https://m.media-amazon.com/images/I/51+rzk-I4nL._AC_UF1000,1000_QL80_.jpg"><button type="text" class="btz"><a href="https://www.amazon.com/Gris-Grimlys-Frankenstein-Mary-Shelley/dp/0061862975/ref=asc_df_0061862975/?tag=hyprod-20&linkCode=df0&hvadid=312125785651&hvpos=&hvnetw=g&hvrand=10074694556607084920&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9003475&hvtargid=pla-450304909571&psc=1">Buy</a></button></div>
                <div class="tin"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfFoZaeBeHa8MtZfnwYtD7kbkOmToxH1Ah9UItM0_KGDRCUAkI1eED1ElS&s=0"><button class="btz" type="text"><a href="https://www.amazon.com/Dominoes-One-Frankenstein-Audio-Pack/dp/0194639371">Buy</a></button></div>
        <footer>Copyright@2023 Iconicreads Rights Reserved</footer>
        </body>
    </head>
</html>