<!DOCTYPE html>
<html>
    <head>
        <title>Religious || Iconicreads</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style> .container{
                width:100%;
                height:54px;
                background-color: red;
            }
            ul{
                list-style:none;
                display:flex;
            }
          .contain{
             width:100%;
                height:54px;
                background-color: rgb(0, 0, 0);
                margin:-14px 0px;

          }
    .list li{
    font-size: 22px;
    margin: 14px 64px;
    }
    .list a{
        color:white;
        text-decoration:none;
    }
    ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
            #l-item{
             font-size: 37px;
    padding-top: 5px;
    font-style: italic;
    color: #0000bf;
    font-weight: bold;
}
            
           .form{
              margin-left: 500px;
                          }
            #int{
               width: 446px;
    margin: 15px 0px;
    height: 19px;
    border-radius: 8px;
            }
              .tin{
               border: 2px solid #cfcfcf;
    width: 218px;
    height: 345px;
    text-align: center;
    margin: 28px 2px;
    display: inline-table;
            }
            .tin img{
            height: 242px;
    width: 195px;
    margin: 20px 9px;
            }
            .btz{
                margin: 2px -47px;
    width: 160px;
    font-size: 23px;
    border-radius: 10px;
    background: linear-gradient(45deg, #0065a1, transparent);
    font-family: cursive;
            }
            .btz a{
                text-decoration:none;}
                #ten{
                    margin: 28px 13px;
                }
                p{
                    margin: 43px 400px;
    font-size: 29px;
    font-style: italic;
    color: indianred;
    font-family: emoji;
                }
                .container-2{
                    margin-left:22px;
                }
                              @media (max-width : 375px) and (min-height: 667px){
#int{
 margin-left: -320px;
    width: 275px;
}.container-2{
margin-left: -123px;
    margin-top: -55px;}
.container{
    width:100%;
}
.contain{
    width: 100%;
}
.tin img {
   height: 229px;
    width: 183px;
    margin: 20px 109px;
}
.tin {
  border: 2px solid #ffffff;
    width: 394px;
    height: 403px;
    text-align: center;
    margin: 28px 103px;
    display: inline-table;
}
b{
    font-size: 23px;
}
.list li {
    font-size: 19px;
    margin: 14px 18px;
}
#l-item {
    font-size: 27px;
    padding-top: 12px;
    font-style: italic;
    color: #0000bf;
    font-weight: bold;
    padding-left: -23px;
}
#int {
    margin-left: -472px;
    width: 140px;
}
                }
                </style>
        <body>
            <div class="container">
             <ul class="u-list">
                    <li id="l-item">Iconicreads</li>
                    <li>
                       <div class="form">
                        <input type="text" id="int" placeholder="Search...." onkeyup="findFun()">
                        </div>
                       
                        </div>
                        <div class="contain">
                            <ul class="list">
                                <li><a href="/Home">Home</a></li>
                                <li><a href="/About">About</a></li>
                                <li><a href="/Contact">Contact Us</a></li>
                            </ul>
                            </div>
        </div>
        <div class="container-3">
            <p></p>
        </div>
            <div class="container-2">
          <div class="tin" id="sec1"><a href="/Ramayana"><img id="Hindu" src="https://m.media-amazon.com/images/I/61GhIaR+vAL._SX342_SY445_.jpg"></a><b>Illustrated Ramayana<br>by DK<br>Rs 1,349</b></div>
            <div class="tin" id="sec2"><a href="/Mahabharata"><img id="hind" src="https://m.media-amazon.com/images/I/61EV0fAz76L._SX342_SY445_.jpg"></a><b>Illustrated Mahabharata<br>by DK<br>Rs 1,699</b></div>
            <div class="tin" id="sec3"><a href="/Grihya"><img src="https://m.media-amazon.com/images/I/51GpKhoVWSL._SY425_.jpg"></a><b> The Grihya Sutras<br>Hermann Oldenberg<br>Rs. 3,291</b></div>
            <div class="tin" id="sec4"><a href="/Jainism"><img src="https://m.media-amazon.com/images/I/317jmbX-3-L._SY445_SX342_.jpg"></a><b> Jainism Life Science<br>Manisha Gala<br> Rs. 99</b></div>
            <div class="tin" id="sec5"><a href="/teaching"><img src="https://m.media-amazon.com/images/I/412qTbYUb4L._SY445_SX342_.jpg"></a><b>The heart of the Buddhha's teaaching<br>Thich Nhat Hanh<br>Rs. 486</b></div>
            <div class="tin" id="sec6"><a href="/Aghori"><img src="https://m.media-amazon.com/images/I/51kMGhxdfBL._SY445_SX342_.jpg"></a><b>Aghori<br>Mayur Kalbag<br>Rs. 277</b></div>
            <div class="tin" id="sec7"><a href="/Rama"><img src="https://m.media-amazon.com/images/I/41ZHGY0FA8L._SY445_SX342_.jpg"></a><b>Parables of Rama<br>Swami Rama Tirth<br>Rs. 2,146</b></div>
            <div class="tin" id="sec8"> <a href="/Iamthat"><img src="https://m.media-amazon.com/images/I/51-y-gGC2sL._SY445_SX342_.jpg"></a><b>I Am That<br>Nisaragadatta Maharaj<br> Rs. 320</b></div>
            <div class="tin" id="sec9"><a href="/Patanjali"><img src="https://m.media-amazon.com/images/I/41kO56Cq2qL._SY445_SX342_.jpg"></a><b>The Yoga Sutras of Patanjali<br>Swami Satchidananda<br> Rs. 840</b></div>
            <div class="tin" id="sec10"><a href="/Hindu"><img src="https://m.media-amazon.com/images/I/51D8Gr7kRaL._SY445_SX342_.jpg"></a><b>Why I am a Hindu<br>Shashi Tharoor<br>Rs. 599</b></div>
            <a href="/Yogi"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/41GMFzpDzuL._SY445_SX342_.jpg"><b>Autobiography of a Yogi<br>Paramhansa Yogananda<br> Rs. 151</h4></div></a>
          <a href="/SouthIndian"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51+Z8lpqS0L._SY445_SX342_.jpg"><b>Studies in south Indian Jainism<br>B. Seshagiri Rao<br>Rs. 573</h4></div></a>
          <a href="/Hidden"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51TcWGvqLZL._SY445_SX342_.jpg"><b>The Hidden Hindu<br>Alshat Gupta<br>Rs. 175</h4></div></a>
           <a href="/Greatdisciple"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51GK5BDUrUL._SY445_SX342_.jpg"><b>Great Disciples of the Buddha<br>Nyanaponika Thera (Author), Hellmuth Hecker (Author)<br>Rs. 1,530</h4></div></a>
           <a href="/Words"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/410hs-61YAL._SY445_SX342_.jpg"> <b>In the Buddha's Words<br>Bhikkhu  Bodhi<br>Rs. 1,500</h4></div></a>
           <a href="/teachingofbuddha"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51mCXgCM6KL._SY445_SX342_.jpg"><b>The Teachings of the Buddha<br>Jack-Kornfield<br>Rs. 436.25</h4></div></a>
         
           <a href="/questioning"> <div class="tin"><img src="https://m.media-amazon.com/images/I/51AmCynH55S._SY445_SX342_.jpg" class="img-1"><b>Questioning the Buddha<br> Dzongsar Khyentse (Author), Peter Skilling (Author) <br>Rs. 3,235</h4></div></a>
           <a href="/manybuddha"> <div class="tin"><img src="https://m.media-amazon.com/images/I/41MdsAs-cHL._SY445_SX342_.jpg" class="img-1"><b>Many Buddhas,One Buddha<br>Naomi Appleton<br>Rs. 8,811</h4></img></div></a>
           <a href="/Jain"> <div class="tin"><img src="https://m.media-amazon.com/images/I/510AJZ8VBNL._SX342_SY445_.jpg" class="img-1"><b>Jainism<br>  Sherry Fohr<br>Rs. 2,706</h4></div></a>
         <a href="/Gita"><div class="tin"><img src="https://m.media-amazon.com/images/I/81YiRc1hHmL.jpg"><b>BhagvadGita<br>₹237.00</h4></h4></div></a>
     <a href="/Shastra"><div class="tin"><img src="https://cdn.shopify.com/s/files/1/0509/9320/1312/products/vimanshastra_420x612.jpg?v=1614772407"><b>Viman Shastra<br>₹1,796.00</h4></div></a>
     <a href="/Puran"> <div class="tin"><img src="https://sanatan.in/cdn/shop/products/789_1.jpg?v=1656918838&width=1000"><b>Shiv Puran<br>Rs 400.00</h4></div></a>
       <a href="/Bible"><div class="tin"><img src="https://m.media-amazon.com/images/I/414oX2bFGtL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"><b>Illustrated Bible<br>₹3,400.00</h4></div></a>
      <a href="/Confusion"><div class="tin"><img src="https://m.media-amazon.com/images/I/41jM2hASy3L._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"><b>Turning Confusion into Clarity<br>Rs 555.00</h4></div></a>
      <div class="tin" id="sec11"><a href="/Jainhistory"><img src="https://m.media-amazon.com/images/I/51ZFnNhb02L._SY445_SX342_.jpg"></a><b>Jainism <br>Agustion Paniker<br>Rs. 1,490</h4></b></div>
            <div class="tin" id="sec12"><a href="/Jainintroduction"><img src="https://m.media-amazon.com/images/I/51+BNRcvpXL._SY445_SX342_.jpg"></a><b>An Introduction to Jainism<br>Jeffry D. Long<br>Rs. 2,936</b></div></div> 
            </div>
        </body><script> 
           function findFun(){
    let find = document.getElementById('int').value.toUpperCase();
    let mycontainer = document.getElementsByClassName('container-2');
    let division  = document.getElementsByClassName('tin');

   for(var i=0; i < division.length; i++){
        let h4 = division[i].getElementsByTagName('b')[0];
        if(h4){
            let findvalue = h4.innerText || h4.innerHTML || h4.textContent;
            if(findvalue.toUpperCase().indexOf(find) > -1){
                division[i].style.display = ""
            }else{
                division[i].style.display = "none" 
            }
        }
    
   }
    
}     
          </script>
    </head>    
</html>