<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style> .container{
                width:100%;
                height:54px;
                background-color: red;
            }
            ul{
                list-style:none;
                display:flex;
            }
          .contain{
             width:100%;
                height:54px;
                background-color: rgb(0, 0, 0);
                margin:-14px 0px;

          }
    .list li{
    font-size: 22px;
    margin: 14px 64px;
    }
    .list a{
        color:white;
        text-decoration:none;
    }
    ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
            #l-item{
             font-size: 37px;
    padding-top: 5px;
    font-style: italic;
    color: #0000bf;
    font-weight: bold;
}
            
           .form{
              margin-left: 500px;
                          }
            #int{
               width: 446px;
    margin: 15px 0px;
    height: 19px;
    border-radius: 8px;
            }
              .tin{
               border: 2px solid #cfcfcf;
    width: 228px;
    height: 371px;
    text-align: center;
    margin: 28px 2px;
    display: inline-table;
            }
            .tin img{
            height: 242px;
    width: 195px;
    margin: 20px 12px;
            }
            .btz{
                margin: 2px -47px;
    width: 160px;
    font-size: 23px;
    border-radius: 10px;
    background: linear-gradient(45deg, #0065a1, transparent);
    font-family: cursive;
            }
            .btz a{
                text-decoration:none;}
                #ten{
                    margin: 28px 13px;
                }
                p{
                    margin: 43px 427px;
    font-size: 29px;
    font-style: italic;
    color: indianred;
    font-family: emoji;
                }
                .container-2{
                    margin-left:15px;
                }
                @media (max-width : 375px) and (min-height: 667px){
#int{
 margin-left: -320px;
    width: 275px;
}
.container-2 {
    margin-left: -123px;
}
.container{
    width:100%;
}
.contain{
    width: 100%;
}
.tin img {
   height: 229px;
    width: 183px;
    margin: 20px 89px;
}
.tin {
  border: 2px solid #ffffff;
    width: 378px;
    height: 403px;
    text-align: center;
    margin: 28px 103px;
    display: inline-table;
}
b{
    font-size: 23px;
}
.list li {
    font-size: 19px;
    margin: 14px 18px;
}
#l-item {
    font-size: 27px;
    padding-top: 12px;
    font-style: italic;
    color: #0000bf;
    font-weight: bold;
    padding-left: -23px;
}
.class-1{
    margin-left: -123px;
}
#int {
    margin-left: -472px;
    width: 140px;
}
#sec13{
    margin-left: -123px;
}
                }
                </style>
        <body>
            <div class="container">
             <ul class="u-list">
                    <li id="l-item">Iconicreads</li>
                    <li>
                       <div class="form">
                        <input type="text" id="int" placeholder="Search..." onkeyup="findFun()">
                        </div>
                       
                        </div>
                        <div class="contain">
                            <ul class="list">
                                <li><a href="/Home">Home</a></li>
                                <li><a href="/About">About</a></li>
                                <li><a href="/Contact">Contact Us</a></li>
                            </ul>
                            </div>
        </div>
                 
        <div class="container-2">
          <div class="tin" id="sec1"><a href="/Dune"><img id="Hindu" src="https://m.media-amazon.com/images/I/41+L9Q+rCLL._SY344_BO1,204,203,200_.jpg"></a><b>Dune<br>by Frank Herbert<br>Rs 374.00</b></div>
            <div class="tin" id="sec2"><a href="/Ninteen-Eighty-Four"><img id="hind" src="https://m.media-amazon.com/images/I/41nGXlJ2GSL._SY346_.jpg"></a><b>Ninteen-Eighty-Four<br>George Orwell<br>Rs 268.00</b></div>
            <div class="tin" id="sec3"><a href="/Greatgatsby"><img src="https://m.media-amazon.com/images/I/51ceqZss88S._SX198_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b> Greatgatsby<br>F. Scott Fitzgerald<br>Rs 109.00</b></div>
            <div class="tin" id="sec4"><a href="/Themartianwars"><img src="https://m.media-amazon.com/images/I/4164GkhDBXL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b> Martian<br>Andy Weir<br>Rs 1,198.00</b></div>
            <div class="tin" id="sec5"><a href="/Thelefthandofdarkness"><img src="https://m.media-amazon.com/images/I/41DzNPR3TVL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b> Left Hand of Darkness<br>Ursula Ke li Guin<br>Rs 433.00</b></div>
            <div class="tin" id="sec6"><a href="/Frankanstein"><img src="https://m.media-amazon.com/images/I/51Wtzp-kSkL._SX198_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b>Frankanstein<br>Mary Shelley<br>Rs 129.00</b></div>
            <div class="tin" id="sec7"><a href="/TheTimeMachine"><img src="https://m.media-amazon.com/images/I/51YP7fM361S._SX460_BO1,204,203,200_.jpg"></a><b>The Time Machine<br>HG.Wells<br>Rs 99.00</b></div>
            <div class="tin" id="sec8"> <a href="/DouglasAdams"><img src="https://m.media-amazon.com/images/I/61sX5V0MiyL._SY264_BO1,204,203,200_QL40_ML2_.jpg"></a><b>Per Anhalter durch die Galaxis<br>Douglas Adams<br>€18.98</b></div>
            <div class="tin" id="sec9"><a href="/Allthelightwecatsee"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/22/All_the_Light_We_Cannot_See_%28Doerr_novel%29.jpg/220px-All_the_Light_We_Cannot_See_%28Doerr_novel%29.jpg"></a><b>All the light we can't see<br>Anthony Doerr<br>Rs 1,284.00</b></div>
            <div class="tin" id="sec10"><a href="/Crossdown"><img src="https://m.media-amazon.com/images/I/41ZzBPR6isL._SY291_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b>Cross the line<br>James Patterson<br>Rs  1,187.82.00</b></div>
                       <div class="tin">
        <a href="/Footstepsoframa"><img class="img-1"src=" https://m.media-amazon.com/images/I/51g7O4esOcL._SX337_BO1,204,203,200_.jpg"><b>In the Foot Steps of Rama<br>Vikrant Pandey <br>Nilesh Kulkarni <br>Rs 393.00</b></div></a>
       <a href="/TheHiddenHindu-2"><div class="tin"><img class="img-1"src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1664896750i/61924161.jpg"><b>The Hidden Hindu 2<br>Akshat Gupta <br>Rs 209.00</b></div></a>
      <a href="/Holds"><div class="tin"> <img class="img-1" src="https://m.media-amazon.com/images/I/410HxGFFymL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"><b>The World and all that it holds<br>Alexander Hemon <br>Rs 530.26</b></div></a>
       <a href="/Essex"><div class="tin"><img class="img-1"src="https://m.media-amazon.com/images/I/51okkTtaNfL._SY346_.jpg"><b>Essex Dogs<br>Dan Jones <br>Hardcover :-$22.38</b></div></a>
      <a href="/WhiteSpaces" ><div class="tin"><img src="https://pyxis.nymag.com/v1/imgs/8cf/a29/bcd5f9982129b752e590db3bf895621201-secondary-all-the-white-spaces.rvertical.w570.jpg" class="img-1"><b>All the White Spaces<br>Ally Wilkes<br>Rs. 813</b></div></a>
      <a href="/WhiteHorse" ><div class="tin"><img src="https://pyxis.nymag.com/v1/imgs/8f5/fde/7d0130b2e8644aca6c3fe7da0d430ede6c-white-horse.rvertical.w570.jpg" class="img-1"><b>White Horse<br>Erika T.Wurth<br>₹1,878.72</b></div></a>
       <a href="/Drowning"><div class="tin"><img src="https://pyxis.nymag.com/v1/imgs/5c5/690/b44441287da9c72cc2579706af224e6e68-no-gods-for-drowing.rvertical.w570.jpg" class="img-1"><b>No Gods For Drowning<br>Hailey Piper<br>Rs. 862.04</b></div></a>
       <a href="/Sky"><div class="tin"><img src="https://pyxis.nymag.com/v1/imgs/168/d78/ffbaf06484a9ad993df714628a1d5fa846-secondary-a-black-and-endless-sky.rvertical.w570.jpg" class="img-1"><b>Black And Endless Sky<br>Matthew Lyons<br>Rs. 788.50</b></div></a>
      <a href="/Harry" ><div class="tin"><img src="https://img.etimg.com/photo/msid-99722413/harry-potter-and-the-sorcerers-stone.jpg" class="img-1"><b>Harry Potter and the Sorcere's Stone<br>JK Rowling<br>₹ 1,646.00</b></div></a>
       <a href="/Death"><div class="tin"><img class="img-1"src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1675909421i/61273347.jpg"><b>A Death at the party<br>Amy Stuart <br> Rs 1,265.00</b></div></a>
  <a href="/Alchemist"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/41e+TR4xPDL._SY344_BO1,204,203,200_.jpg"><b>The Alchemist<br>Poulo Coelho<br>₹235.00</b></div></a>
          <a href="/Prince"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/41Su1GeNc8L._SX198_BO1,204,203,200_QL40_FMwebp_.jpg"><b>The Little Prince<br>ANTOINE DE SAINT-EXUPÉRY<br>₹699.00</b></div></a>
          <a href="/ReligionHistory"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51xVrDHRYXL._SL500_.jpg"><b>A Little History Of Religion<br>Richard Holloway<br>Rs. 5,015.00</b></div></a>
           <a href="/Hinduism"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51GEGMyixzL._SL500_.jpg"><b>Survey-Hinduism<br>Klaus K. Klostermaier<br>Rs. 4,134.00</b></div></a>
           <a href="/Exorcism"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51z4JYdnbeL._SL500_.jpg"> <b>My Best Friend Exorcism<br>Grady Hendrix<br>Rs. 798.99</b></div></a>
           <a href="/DarkForest"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51uMT8RVWNL._SL500_.jpg"><b>The Dark Forest<br>Cixin Liu, Joel Martinsen<br>Rs. 409.00</b></div></a>
           <a href="/Blind"> <div class="tin"><img src="https://m.media-amazon.com/images/I/41jOTwbtijL._SL500_.jpg" class="img-1"><b>Bilnd Sight <br>Peter Watts<br>Rs. 2,381.00</b></div></a>
           <a href="/Station"> <div class="tin"><img src="https://m.media-amazon.com/images/I/5160VyClkEL._SL500_.jpg" class="img-1"><b>Station Eleven<br>Emily St. John Mandel<br>₹1,257.00</b></div></a>
           <a href="/Institute"> <div class="tin"><img src="https://m.media-amazon.com/images/I/51oovpT1fkL._SL500_.jpg" class="img-1"><b>The Institute<br>Stephen King<br>Hardcover:- Rs. 3,012.00</b></img></div></a>
           <a href="/Hunt"> <div class="tin"><img src="https://m.media-amazon.com/images/I/51jAV8c14yL._SL500_.jpg" class="img-1"><b>Hunt For The Skin Walker<br> Colm A. Kelleher <br>Rs. 1,259.00</b></div></a>
 <a href="/Gita"><div class="tin"><img src="https://m.media-amazon.com/images/I/81YiRc1hHmL.jpg"><b>BhagvadGita<br>₹237.00</h4></h4></div></a>
     <a href="/Shastra"><div class="tin"><img src="https://cdn.shopify.com/s/files/1/0509/9320/1312/products/vimanshastra_420x612.jpg?v=1614772407"><b>Viman Shastra<br>₹1,796.00</h4></div></a>
     <a href="/Puran"> <div class="tin"><img src="https://sanatan.in/cdn/shop/products/789_1.jpg?v=1656918838&width=1000"><b>Shiv Puran<br>Rs 400.00</h4></div></a>
       <a href="/Bible"><div class="tin"><img src="https://m.media-amazon.com/images/I/414oX2bFGtL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"><b>Illustrated Bible<br>₹3,400.00</h4></div></a>
      <a href="/Confusion"><div class="tin"><img src="https://m.media-amazon.com/images/I/41jM2hASy3L._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"><b>Turning Confusion into Clarity<br>Rs 555.00</h4></div></a>
               <div class="tin"><a href="/Wings"><img src="https://m.media-amazon.com/images/I/51wbVQTpTgL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"><b>Wings of Fire<br>APJ Abdul Kalam<br>₹211.50</h4></a></div>
       <div class="tin"><a href="/Steve"><img src="https://m.media-amazon.com/images/I/41n1edvVlLL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"><b>Steve Jobs<br>Walter Issacson<br>₹381.00</h4></a></div>
       <div class="tin"><a href="/Unbroken"><img src="https://m.media-amazon.com/images/I/51OzgIepk0L._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"><b>Unbroken<br>Laura Hillenbrand<br>₹1,320.00</h4></a></div>
       <div class="tin"><a href="/Einstein"><img src="https://m.media-amazon.com/images/I/41Io-O19X8L._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"><b>Einstein:His Life and Universe<br>Walter Issacson<br>₹466.69</h4></a></div>
       <div class="tin"><a href="/Gandhi"><img src="https://m.media-amazon.com/images/I/31p6c1+NsDL._SY344_BO1,204,203,200_.jpg"><b>The Years That Ghanges The World<br>Ramachandra Guha<br>₹1,495.00</h4></a></div>
        
              <div class="tin" id="sec1"><a href="/Ramayana"><img id="Hindu" src="https://m.media-amazon.com/images/I/61GhIaR+vAL._SX342_SY445_.jpg"></a><b>Illustrated Ramayana<br>by DK<br>Rs 1,349</b></div>
            <div class="tin" id="sec2"><a href="/Mahabharata"><img id="hind" src="https://m.media-amazon.com/images/I/61EV0fAz76L._SX342_SY445_.jpg"></a><b>Illustrated Mahabharata<br>by DK<br>Rs 1,699</b></div>
            <div class="tin" id="sec3"><a href="/Grihya"><img src="https://m.media-amazon.com/images/I/51GpKhoVWSL._SY425_.jpg"></a><b> The Grihya Sutras<br>Hermann Oldenberg<br>Rs. 3,291</b></div>
            <div class="tin" id="sec4"><a href="/Jainism"><img src="https://m.media-amazon.com/images/I/317jmbX-3-L._SY445_SX342_.jpg"></a><b> Jainism Life Science<br>Manisha Gala<br> Rs. 99</b></div>
            <div class="tin" id="sec5"><a href="/teaching"><img src="https://m.media-amazon.com/images/I/412qTbYUb4L._SY445_SX342_.jpg"></a><b>The heart of the Buddhha's teaaching<br>Thich Nhat Hanh<br>Rs. 486</b></div>
            <div class="tin" id="sec6"><a href="/Aghori"><img src="https://m.media-amazon.com/images/I/51kMGhxdfBL._SY445_SX342_.jpg"></a><b>Aghori<br>Mayur Kalbag<br>Rs. 277</b></div>
            <div class="tin" id="sec7"><a href="/Rama"><img src="https://m.media-amazon.com/images/I/41ZHGY0FA8L._SY445_SX342_.jpg"></a><b>Parables of Rama<br>Swami Rama Tirth<br>Rs. 2,146</b></div>
            <div class="tin" id="sec8"> <a href="/Iamthat"><img src="https://m.media-amazon.com/images/I/51-y-gGC2sL._SY445_SX342_.jpg"></a><b>I Am That<br>Nisaragadatta Maharaj<br> Rs. 320</b></div>
            <div class="tin" id="sec9"><a href="/Patanjali"><img src="https://m.media-amazon.com/images/I/41kO56Cq2qL._SY445_SX342_.jpg"></a><b>The Yoga Sutras of Patanjali<br>Swami Satchidananda<br> Rs. 840</b></div>
            <div class="tin" id="sec10"><a href="/Hindu"><img src="https://m.media-amazon.com/images/I/51D8Gr7kRaL._SY445_SX342_.jpg"></a><b>Why I am a Hindu<br>Shashi Tharoor<br>Rs. 599</b></div>
            <a href="/Yogi"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/41GMFzpDzuL._SY445_SX342_.jpg"><b>Autobiography of a Yogi<br>Paramhansa Yogananda<br> Rs. 151</h4></div></a>
          <a href="/SouthIndian"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51+Z8lpqS0L._SY445_SX342_.jpg"><b>Studies in south Indian Jainism<br>B. Seshagiri Rao<br>Rs. 573</h4></div></a>
          <a href="/Hidden"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51TcWGvqLZL._SY445_SX342_.jpg"><b>The Hidden Hindu<br>Alshat Gupta<br>Rs. 175</h4></div></a>
           <a href="/Greatdisciple"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51GK5BDUrUL._SY445_SX342_.jpg"><b>Great Disciples of the Buddha<br>Nyanaponika Thera (Author), Hellmuth Hecker (Author)<br>Rs. 1,530</h4></div></a>
           <a href="/Words"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/410hs-61YAL._SY445_SX342_.jpg"> <b>In the Buddha's Words<br>Bhikkhu  Bodhi<br>Rs. 1,500</h4></div></a>
           <a href="/teachingofbuddha"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51mCXgCM6KL._SY445_SX342_.jpg"><b>The Teachings of the Buddha<br>Jack-Kornfield<br>Rs. 436.25</h4></div></a>
         
           <a href="/questioning"> <div class="tin"><img src="https://m.media-amazon.com/images/I/51AmCynH55S._SY445_SX342_.jpg" class="img-1"><b>Questioning the Buddha<br> Dzongsar Khyentse (Author), Peter Skilling (Author) <br>Rs. 3,235</h4></div></a>
           <a href="/manybuddha"> <div class="tin"><img src="https://m.media-amazon.com/images/I/41MdsAs-cHL._SY445_SX342_.jpg" class="img-1"><b>Many Buddhas,One Buddha<br>Naomi Appleton<br>Rs. 8,811</h4></img></div></a>
           <a href="/Jain"> <div class="tin"><img src="https://m.media-amazon.com/images/I/510AJZ8VBNL._SX342_SY445_.jpg" class="img-1"><b>Jainism<br>  Sherry Fohr<br>Rs. 2,706</h4></div></a>
              <div class="tin" id="sec1"><a href="/Maus"><img id="Hindu" src="https://m.media-amazon.com/images/I/51bX7G6BgXL._SY445_SX342_.jpg"></a><b>The Complete Maus<br>Art Spiegelman<br>Rs. 607</b></div>
            <div class="tin" id="sec2"><a href="/Palestine"><img id="hind" src="https://m.media-amazon.com/images/I/61bFfyOg2TL._SY445_SX342_.jpg"></a><b>Palestine<br>Joe Sacco<br>Rs. 798.20</b></div>
            <div class="tin" id="sec3"><a href="/SafeArea"><img src="https://m.media-amazon.com/images/I/61Kg8JGvSrL._SY445_SX342_.jpg"></a><b>Safe Area Grazde <b>Joe Sacco<br>Rs. 802</b></div>
            <div class="tin" id="sec4"><a href="/Footnotes"><img src="https://m.media-amazon.com/images/I/516kSU4C3BL._SY445_SX342_.jpg"></a><b> Foot Notes of Gaza<br>Joe Sacco<br>Rs. 3,719</b></div>
            <div class="tin" id="sec5"><a href="/Likeit"><img src="https://m.media-amazon.com/images/I/91EzjhvBWyS._SY425_.jpg"></a><b> As you like it<br>William Shakespearre<br>Rs 98.00</b></div>
            <div class="tin" id="sec6"><a href="/Defeatist"><img src="https://m.media-amazon.com/images/I/610ROOeJE+L._SY445_SX342_.jpg"></a><b>Notes from a Defeatist<br> Joe Sacco<br>Rs. 779.00</b></div>
            <div class="tin" id="sec7"><a href="/Fixer"><img src="https://m.media-amazon.com/images/I/51kWrEMPCpL._SY445_SX342_.jpg"></a><b>The Fixer<br>Joe Sacco<br>Rs 8,673.32</b></div>
            <div class="tin" id="sec8"> <a href="/BlackHole"><img src="https://m.media-amazon.com/images/I/51PmI8SAeXL._SY445_SX342_.jpg"></a><b>Black Hole<br>Charles Burns<br> Rs 1,815</b></div>
            <div class="tin" id="sec9"><a href="/Bone"><img src="https://m.media-amazon.com/images/W/MEDIAX_792452-T1/images/I/51Zhztg+yeL._SY445_SX342_.jpg"></a><b>Out from Bonevelli<br>Jeff Smith<br>Rs 939</b></div>
            <div class="tin" id="sec10"><a href="/Harrow-1"><img src="https://m.media-amazon.com/images/I/514I4gvib7L._SY445_SX342_.jpg"></a><b>Harrow county Volume-1<br>Cullen Bunn<br>Rs  1,464.00</b></div>
            <a href="/Harrow-2"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51-c-0x7iUL._SY445_SX342_.jpg"><b>Harrow County Volume-2<br>Cullen Bunn<br>₹1,199</h4></div></a>
          <a href="/Empty"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/41DRdfUSV5L._SY445_SX342_.jpg"><b>The Empty Man<br>Cullen Bunn<br>Kindly Unlimited 0.00</h4></div></a>
          <a href="/Parish"><div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51uzuYT5KvL._SY445_SX342_.jpg"><b>Bone Parish Vol.1<br>Cullen Bunn<br>Rs. 1,141</h4></div></a>
           <a href="/Land"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51a9K4CsWJL._SY445_SX342_.jpg"><b>Paying the Land<br>Joe Sacco<br>Rs. 824</h4></div></a>
           <a href="/Burma"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/51zeojKzTsL._SY445_SX342_.jpg"> <b>Burma Chronicles<br>Guy Delisile<br>Rs. 646.00</h4></div></a>
           <a href="/Pyongyang"> <div class="tin"><img class="img-1" src="https://m.media-amazon.com/images/I/514r+SVjx5L._SY445_SX342_.jpg"><b>Pyongyang<br>Guy Delisle<br>Rs. 1,237</h4></div></a>
           <a href="/Shenzhen"> <div class="tin"><img src="https://m.media-amazon.com/images/I/518qxRcQa8L._SY445_SX342_.jpg" class="img-1"><b> Shenzhen<br>Guy Delisle<br>Rs. 950</h4></div></a>
           <a href="/Jerusalem"> <div class="tin"><img src="https://m.media-amazon.com/images/I/51TfuhvWveL._SY445_SX342_.jpg" class="img-1"><b>Jerusalem-Chronicles-Holy-Guy-Delisle<br>Guy Delisle<br>Rs. 757</h4></div></a>
           <a href="/MetaMaus"> <div class="tin"><img src="https://m.media-amazon.com/images/I/513VL-dYWzL._SY445_SX342_.jpg" class="img-1"><b>Meta Maus<br>Art Spiegelman<br>Rs. 2,611</h4></img></div></a>
           <a href="/Funhome"> <div class="tin"><img src="https://m.media-amazon.com/images/I/71sMATDF6DL._SY425_.jpg" class="img-1"><b>Fun Home<br>Allison Bechdel<br>Rs. 1,052.00</h4></div></a>
            <div class="tin" id="sec11"><a href="/Lockkey"><img src="https://m.media-amazon.com/images/I/81TewddjMwL._SY425_.jpg"></a>Locke and Key<b>Joe Hill<br>Rs. 1,088<br> </b></div>
           <div class="tin" id="sec11"><a href="/Jainhistory"><img src="https://m.media-amazon.com/images/I/51ZFnNhb02L._SY445_SX342_.jpg"></a><b>Jainism <br>Agustion Paniker<br>Rs. 1,490</h4></b></div>
           
            <div class="tin" id="sec12"><a href="/Bravenewworld"><img src="https://m.media-amazon.com/images/I/41cDU2B8IyL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg"></a><b>Brave New World<br>Aldous Huxly<br>Rs 328.00</b></div></div> 
           
            <div class="tin" id="sec12"><a href="/Woods"><img src="https://m.media-amazon.com/images/I/61vN8LI0tzL._SX342_SY445_.jpg"></a>Through the Woods<b>Emill Caroll<br>Rs. 1,374<br></b></div></div>
             </div>
            </div>
        </body><script>
           function findFun(){
    let find = document.getElementById('int').value.toUpperCase();
    let mycontainer = document.getElementsByClassName('container-2');
    let division  = document.getElementsByClassName('tin');

   for(var i=0; i < division.length; i++){
        let h4 = division[i].getElementsByTagName('b')[0];
        if(h4){
            let findvalue = h4.innerText || h4.innerHTML || h4.textContent;
            if(findvalue.toUpperCase().indexOf(find) > -1){
                division[i].style.display = ""
            }else{
                division[i].style.display = "none" 
            }
        }
    
   }
    
}     
          </script>
    </head>    
</html>