<!DOCTYPE html>
<html>
    <head>
        <title>The Hidden Hindu</title>
       <script> function togglehide(){
                if(para.style.display = 'none'){
                    para.style.display = 'block'
                }
               else{
                btm.style.display = 'none'
               }
            }</script>
        <style>
            #para{display:none;}
            #btm{
                border:none;
                background: none;
                font-size:19px;            }
            .header{
    background-color: #efd9c7;
    border-radius: 5px;
    height: 45px;
    text-align: center;
    font-size: 23px;
    padding-top: 12px;
    border:2px solid rgb(145, 113, 113);
               
            }
            .container{
                border:2px solid rgb(158, 216, 216);
                background-color: lightcyan;
                border-radius:12px;
                height: 56px;
            }
            #list{
                display:flex;
                flex-direction: row;
                list-style:none;
            }
            li{
                font-size:23px;
                padding:0px 45px;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-style:italic;
            }
            .container a{
               text-decoration: none;
    color: #893a02;
            }
            .sin{
               float: right;
    background: rgb(98, 98, 230);
    border-radius: 22px;
    margin: -53px 36px;
    height: 39px;
    width: 129px;
            }
            .sin a{
                text-decoration:none;
                font-size:23px;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            #button{
                width: 97px;
    height: 42px;
    border-radius: 12px;
    font-size: 20px;
    background: #2d9d9d;
            }
            #input{
               height: 35px;
    border-radius: 12px;
    font-size: 22px;
    padding: 3px 33px;
    width: 311px;
            }
            .section-1{
               margin: 66px 97px;
               border:2px solid white;
               width:200px;
               height:100vh;}
            #image{
              height: 266px;
    width: 183px;
    border-radius: 12px;
    
            }
            .btn a{
                text-decoration:none;
                font-size:19px;
            }
            .btn{
               width: 218px;
    height: 46px;
    background-color: rgb(60, 179, 111);
    border-radius: 45px;
    margin: 7px -18px;

            }
            .sec{
                display:flex;
                flex-direction:row;
            }
            .section-2{
                margin:6px 2px;
                font-size:23px;
            }
            ul{
                list-style:none;
            }
            ul li{
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-style:normal;
            } #bto{
                background-color: #efd9c7;
            }
           
        </style>
        <body>
            <div class="header">Discover the best books from all over the world</div>
            <div class="container">
                <ul id="list">
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/Contact">Contact us</a></li>
                </ul>
                <button type="text" class="sin"><a href="/Sign">Sign Up</a></button>
            </div>
            <div class="sec">
            <div class="section-1">
                <img id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0jbW1W7Ts3ZIAchcoCUG-QllbAxuOBQxy4q3E_6sysCgNrWAdOdhdY5ACuA&s"><br>
                <button type="text" class="btn"><a href="https://www.dwms.org/uploads/8/7/8/7/87873912/thich_nhat_hanh_-_the_heart_of_buddhas_teaching.pdf">Want To Read</a></button><br>
                <button type="text" id = "bto" class="btn"><a href="https://www.amazon.in/Heart-Buddhas-Teaching-Thich-Nhat/dp/0712670033?source=ps-sl-shoppingads-lpcontext&ref_=fplfs&psc=1&smid=A15DBATYR506U3">Kindle</a></button>
         </div>
         <div class="section-2">
            <h1>The Heart of Buddha's Teaching</h1>
            <h2>Thich Nhat Hanh</h2>
            <p>In The Heart of the Buddha's Teaching, Thich Nhat Hanh brings his gift of clear and poetic expression to an explanation of the Four Noble Truths, the Noble Eightfold Path, and other basic Buddhist teachings. Thich Nhat Hanh's extraordinary contribution to Buddhism and to life is the way he makes these teachings and practices accessible to everyone, showing us how the very suffering that is holding us down can be the path to our liberation.</button>
         <h2>About The Author</h2>
         <p>Thich Nhat Hanh, a Vietnamese Buddhist monk who was exiled from his country for opposing the war in 1966, died Saturday at his home in Hue, Vietnam. He was 95. Thich became one of the world's most influential zen masters, campaigning for peace and urging the practice of mindfulness meditation.</p>
         </div>
         </div>
        </body>
    </head>
</html>